* {
  padding: 0; 
  margin: 0;
}

body {
  background-color: aquamarine;
}

.keyboard {
  text-align: center; 
  width: 900px;
  height: 310px;
  top: 300px;
  margin: auto; 
  background-color: purple;
  user-select: none;
  border-radius: 2px;
}

.textarea {
  width: calc(900px - 12px);
  height: 15vh;
  display: block;
  margin: auto;
  padding: 5px; 
  font-size: 18px;
  background-color: aquamarine;
}

.keyboard__key {
  width: 50px; 
  height: 50px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 0.1s;
  transition: top 0.1s;
  margin: 5px 2px; 
  border-radius: 10px; 
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  user-select: none;
  font-size: 1.2rem;
  overflow: hidden;
  position: relative;
}

.keyboard__key:hover {
  background-color: rgba(255, 255, 255, 0.99);
}

.keyboard__key_active {
  top: 5px;
  background-color: aquamarine;
}

.keyboard__key_active:hover {
  background-color: aquamarine;
}

.keyboard__key_large {
  border-radius: 10px;
  width: 100px; 
}

.keyboard__key_space {
  border-radius: 10px;
  width: 375px;
}

.paragraph {
  margin: 15px calc(20vw);
  font-size: 18px;
}